@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}
header{
    background-color: #30336b;
    color: white;
    height: 300px; 
    max-width: 100%;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding: 20px;
    font-size: larger;
}
h1{
    margin: 35px 0 20px;
}
header button{
    border: none;
    font-size: x-large;
    border-radius: 0.5rem;
    color: white;
}
#open{
    padding: 15px 35px;
    background-color: rgb(201, 82, 201);
    margin: 40px 0 0;
    cursor: pointer;
}
#open:hover{
  background-color: rgb(201, 82, 151);
}
#toggle{
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #242753;
    cursor: pointer;
}
#toggle:hover{
  background-color: rgb(28, 7, 78);
}
nav{
    background-color: #30336b;
    border: 2px grey solid;
    width: 300px;
    transition: .3s;
    height: 100vh;
}
.move{

    width: 0; 
    transition: .3s;
    border: none;

}
.move ul li{

    padding: 20px 0;
    transition: .3s;

}
nav div{
    border-bottom: 2px grey solid;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
}

nav div img{
    border-radius: 100%;
    width: 100px;
    height: auto;
}
nav ul{
    display: block;
}
ul li{
    height: auto;
    padding: 20px 35px;
    border-bottom: 2px grey solid;
    transition: .3s;
    white-space: nowrap;
}

ul li a{
    text-decoration: none;
    color: white;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}