body{
    display: flex;
    justify-content: center;
}
.container{
    max-height: 600px;
    width: auto;
    border: 6px ridge red;
    border-radius: 0.5rem;
    padding: 5px;
    margin-top: 75px;
}
.screen{
    height: 80px;
    width: 300px;
    border: 6px ridge red;
    border-radius: 0.5rem;
    margin: 10px;
    cursor: crosshair;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 60px;
    user-select: none;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.buttons__button:nth-child(12){
    margin-bottom: 10px;
}
.buttons__button{
    height: 60px;
    max-width: auto;
    border: 3px ridge red;
    border-radius: 0.5rem;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xx-large;
    user-select: none;
    cursor: cell;
}
.buttons__button:hover{
    background-color: rgb(255, 175, 175)
}