*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.field{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    border: 5px ridge rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tile{
    height: 10.25rem;
    width: 10.25rem;
    border: 2px solid rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}
.x{
    color: red;
    font-variant: small-caps;
}
.o{
    color: skyblue;
    font-variant: small-caps;
}
.hover:hover{
    background-color: rgba(0, 255, 128, 0.185);
}
.winline{
    background-color: black;
    position: absolute;
    height: 3px;
    width: 490px;
}
#horisontal1{
    display: none;
    top: 16%;
    left: 1%;
}
#horisontal2{
    display: none;
    top: 50%;
    left: 1%;
}
#horisontal3{
    display: none;
    top: 83%;
    left: 1%;
}
#vertical1{
    display: none;
    transform: rotate(90deg);
    top: 50%;
    left: -31%;
}
#vertical2{
    display: none;
    transform: rotate(90deg);
    top: 50%;
    left: 1%;
}
#vertical3{
    display: none;
    transform: rotate(90deg);
    top: 50%;
    left: 35%;
}
#diagonal1{
    display: none;
    transform: rotate(45deg);
    top: 51%;
    left: -14.8%;
    width: 650px;
}
#diagonal2{
    display: none;
    transform: rotate(-45deg);
    top: 50%;
    left: -16.2%;
    width: 650px;
}
.score, .score-el, button{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}
button{
    background-color: cyan; 
    border: none; 
    width: 300px;
    transform: translate(18%);
    margin-top: -20px;
    margin-bottom: 20px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(83, 245, 229);
}

@media(max-width: 520px){
    .field{
        height: 300px;
        width: 300px;
    }
    .tile{
        height: 6.1rem;
        width: 6.1rem;
        font-size: 100px;
    }
    .winline{
        width: 280px;
    }
    #horisontal1{
        top: 16%;
        left: 1%;
    }
    #horisontal2{
        top: 50%;
        left: 1%;
    }
    #horisontal3{
        top: 83%;
        left: 1%;
    }
    #vertical1{
        transform: rotate(90deg);
        top: 50%;
        left: -31%;
    }
    #vertical2{
        transform: rotate(90deg);
        top: 50%;
        left: 2%;
    }
    #vertical3{
        transform: rotate(90deg);
        top: 50%;
        left: 36%;
    }
    #diagonal1{
        transform: rotate(45deg);
        top: 51%;
        left: -9%;
        width: 350px;
    }
    #diagonal2{
        transform: rotate(-45deg);
        top: 50%;
        left: -10%;
        width: 350px;
    }
    button{
        margin-top: -70px;
    }
    .score, .score-el, button{
        transform: translate(8%);
        width: 200px;
        height: 35px;
        font-size: 40px;
    }
}
@media(max-height: 740px){
    .field{
        top: 30%;
        height: 300px;
        width: 300px;
    }
    .tile{
        height: 6.1rem;
        width: 6.1rem;
        font-size: 100px;
    }
    .winline{
        width: 280px;
    }
    #horisontal1{
        top: 16%;
        left: 1%;
    }
    #horisontal2{
        top: 50%;
        left: 1%;
    }
    #horisontal3{
        top: 83%;
        left: 1%;
    }
    #vertical1{
        transform: rotate(90deg);
        top: 50%;
        left: -31%;
    }
    #vertical2{
        transform: rotate(90deg);
        top: 50%;
        left: 2%;
    }
    #vertical3{
        transform: rotate(90deg);
        top: 50%;
        left: 36%;
    }
    #diagonal1{
        transform: rotate(45deg);
        top: 51%;
        left: -9%;
        width: 350px;
    }
    #diagonal2{
        transform: rotate(-45deg);
        top: 50%;
        left: -10%;
        width: 350px;
    }
    button{
        margin-top: -70px;
    }
    .score, .score-el, button{
        transform: translate(8%);
        width: 200px;
        height: 35px;
        font-size: 40px;
    }
}